doctype html
html

  include ./layouttop.jade

  .container
    .row 
      .col-md-2.dark-teal.height500
      .col-md-1.height500
      .col-md-6.height500
        h1 Create an Item Below

        fieldset
          form#createItem(method='POST', action='/auction/createItem')
            input#inputText.form-control(type='hidden', name='db_id', aria-describedby='sizing-addon1', value='#{auctionItem._id}') 
            .formfield
              .input-group
                input#inputText.form-control(type='text', name='title', aria-describedby='sizing-addon1', value='#{auctionItem.title}') 
            br          
            .formfield
              .input-group
                input#inputText.form-control(type='type', name='type', aria-describedby='sizing-addon1', value='#{auctionItem.type}') 
            br
            .formfield
              .input-group
                input#inputText.form-control(
                type='size',name='size', aria-describedby='sizing-addon1', value='#{auctionItem.size}') 
            br
            .formfield
              .input-group
                input#inputText.form-control(
                type='season', name='season',
                aria-describedby='sizing-addon1', value='#{auctionItem.season}') 
            br
            .formfield
              .input-group
                input#inputText.form-control(
                type='condition', name='condition', aria-describedby='sizing-addon1', value='#{auctionItem.condition}') 
            br
            .formfield
              .input-group
                input#inputText.form-control(
                type='text', name='image', aria-describedby='sizing-addon1', value='#{auctionItem.image}') 
            br
            .formfield
              .input-group
                input#inputText.form-control(
                type='brand', name='brand', aria-describedby='sizing-addon1', value='#{auctionItem.brand}') 
            br
            input.submitbutton(type='submit', value='Sell It!')
      .col-md-1.height500
      .col-md-2.dark-teal.height500
    .row
      .col-md-2.dark-teal.height106
      .col-md-8.height106.rounded-border-bottom-right.rounded-border-bottom-left.white
      .col-md-2.dark-teal.height106


  include ./layoutbottom.jade
