<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- My Custom Style -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Jquery --> 
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    

  </head>
  <body>
    <h1><%= title %></h1>

    <%
      var month= ('0' + todo.due_date.getMonth()).slice(-2);
      var day = ('0' + todo.due_date.getDate()).slice(-2);
      var fulldate = "";
      if (todo.title) {
       fulldate =todo.due_date.getFullYear() + "-" + month + "-" + day ;
      } 
    %>
    
    <p><%= bodyt %></p>
  <form id="main" method="POST" action="/todo">
    <label for="title"> Title(required): </label>
    <input type="hidden" id="db_id" name= "db_id" value=<%= todo._id%> > 
    <textarea class= form-control id="title" name="titletext" type="text"> <%= todo.title %></textarea>
    <br>
    <!-- required -->

    <label for="description"> Description(required): </label>
    <textarea class= form-control id="description" name="destext" type="text"> <%= todo.description %> </textarea>
    <br>
<!--     required
 -->
 <label for="priority"> Priority: </label>
 <select class="form-control" id="priority" name="priority" type="number" selected value='<%= todo.priority %>'>
  <option <% if (todo.priority === 1) {
  %> selected <%
  }%> > 1 </option>
  <option <% if (todo.priority === 2) {
  %> selected <%
  }%> > 2 </option>
  <option <% if (todo.priority === 3) {
  %> selected <%
  }%> > 3 </option>
  <option <% if (todo.priority === 4) {
  %> selected <%
  }%> > 4 </option>
  <option <% if (todo.priority === 5) {
  %> selected <%
  }%> > 5 </option>
</select>
    
  <hr>
    <label for="duedate"> Due Date: </label>
     <input type="date" name="due_date" value=<%= fulldate %>>
    
	<input type="checkbox" name="complete" value="true"> 
  <label> Completed? </label>
<br>

	<input class= btn btn-default id="submitbutton" type="submit" value="Submit"> </input>
</form> 
  </body>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="http://cdn.jsdelivr.net/jquery.validation/1.13.1/jquery.validate.min.js"></script>
     <!-- My Customer JS -->
    <!-- Validate -->

    <!--     To JSON -->
    <script src="/javascripts/toJSON.js"></script>
    
  
</html>
