<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>To Do List Compiled</title>

   <!-- Custom Stylesheet -->
  	<link rel=stylesheet href='/stylesheets/styleresult.css' >

  	 <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>

      <!-- Jquery --> 
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

</head>

<body>
<h1> ALL THE TASKS!<h1>
<h2 id="incomplete"> Incomplete Tasks</h2> 
<h2 id="completed"> Completed Tasks </h2>

<% tasks.forEach(function(task) { %> 
<div id="holdleftparent"> 
  <% if (task.completed != true) { %>
    <div id="todo_<%= task._id %>" class="goleft">
      <li><%= task.title  %></li>
      <li><%= task.description %></li>
      <li><%= task.due_date %></li>
      <li><%= task.priority  %></li>
      <li>  <input type="checkbox" name="complete" value="donezo"> 
      <label> Completed? </label></li>
      <li>  <input id="<%= task._id %>" type="submit" class="delete" name="delete" value="delete"> </li>
      <li>  <input id="<%= task._id %>" type="submit" class="edit" name="edit" value="edit"> </li>
      <hr>
    </div>
</div>
<% } else { %>
<div id="holdrightparent">
  <div id="todo_<%= task._id %>" class="goright">
    <li><%= task.title  %></li>
    <li><%= task.description  %></li>
    <li><%= task.due_date %></li>
    <li><%= task.priority  %></li>
    <li>  <input type="checkbox" name="complete" value="donezo" checked> 
    <label> Completed? </label></li>
    <li>  <input id="<%= task._id %>" type="submit" class="delete" name="delete" value="delete"> </li>
    <li>  <input id="<%= task._id %>" type="submit" class="edit" name="edit" value="edit"> </li>
    <hr>
  </div>
</div>
  <% } %>
<% }); %>

   <script src="/javascripts/toDoHandler.js"></script>
</body>
</html>
